body {


  background-color: rgb(236, 236, 236);



  .pagina-inicial {
    .cabecalho {
      .logo{
        height: 30px;
        width: 30px;
      }
      color: #000000;
      font-family: 'Montserrat';
      display: flex;
      align-items: center;
      gap: 40px;
      padding: 30px;
      background-color: #1d1d1d;
      box-shadow: 0 2px 4px rgba(3, 3, 3, 3); /* Sombra */


      .inicio {
        color: #fff;
        font-size: 1.5rem;
        transition: transform 0.3s;
      }

      .inicio:hover {
        transform: scale(1.2);
        color: #ffffff;
      }

      .sobre {
        color: #fff;
        font-size: 1.5rem;
        transition: transform 0.3s;
      }

      .sobre:hover {
        transform: scale(1.2);
        color: #ffffff;
      }

      .contato {
        color: #fff;
        font-size: 1.5rem;
        transition: transform 0.3s;
      }

      .contato:hover {
        transform: scale(1.2);
        color: #ffffff;
      }

      .feedback {
        color: #fff;
        font-size: 1.5rem;
        transition: transform 0.3s;
      }

      .feedback:hover {
        transform: scale(1.2);
        color: #ffffff;
      }



    }

    .pt2 {
      display: flex;
      align-items: flex-start;
      gap: 20px;
    }

    .slogan {
      color: #000000;
      font-family: 'montserrat';
      display: flex;
      align-items: center;
      flex-direction: column;
    }


    .seta {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        height: 30px;
        width: 30px;
      }
    }


    .titulo{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .texto {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 30px;
    }


    .texto3 {
      display: flex;
      flex-direction: column;
      background-color: #000000;
      color: #fff;
      padding: 30px;

      .redes-sociais {
        margin-top: 20px;
        text-align: center;
        
        h3 {
          margin-bottom: 10px;
        }
      
        .icones {
          display: flex;
          justify-content: center;
          gap: 15px;
          .ico {
            width: 40px; // Ajuste conforme necessário
            margin: 0 10px;
            cursor: pointer;
            transition: transform 0.3s;
  
            &:hover {
              transform: scale(1.1);
            }
          }
          
          
        }
      }
      



    }

    .whatsap {
      height: 30px;
      width: 30px;
    }

    .whatsap {
      color: #fff;
      font-size: 1.5rem;
      transition: transform 0.3s;
    }

    .whatsap:hover {
      transform: scale(1.2);
      color: #db4545;
    }

 






  }


}